<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <%= image_tag item.product.image.variant(resize: "100x150"), alt: ""%>
                  </div>
                  <div class="media-body">
                    <p><%= item.product.name %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5>$<%= item.product.price %></h5>
              </td>
              <td>
                <div class="product_count">
                  <input type="text" name="qty" id="sst" maxlength="12"
                         value="<%= item.quantity %>"
                         title="Quantity:" class="input-text qty" disabled>
                </div>
              </td>
              <td>
                <h5><%= format_price(item.spend) %></h5>
              </td>
            </tr>
            <% end %>
            <tr>
              <td>

              </td>
              <td>

              </td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5><%= format_price(@total) %></h5>
              </td>
            </tr>
            <tr class="out_button_area">
              <td class="d-none-l">

              </td>
              <td class="">

              </td>
              <td>

              </td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <%= link_to shop_path, class: 'gray_btn' do %>
                    Continue Shopping
                  <% end  %>
                  <%= link_to orders_path, method: :post, class: 'primary-btn ml-2' do %>
                    Submit Order
                  <% end  %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
